<%@ page import = "admin.Database, java.sql.*, sun.jdbc.rowset.*, ausstage.AusstageCommon" %>
<centric_control type="head"> 
<body topmargin="0" leftmargin="0" bgproperties="fixed" bgcolor="#333333">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber1">
<tr>
<td align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber14">
<tr>
<td align="left" width="174" valign="top">
<a href="/default.jsp?xcid=27"><centric_control type="repos_image" border="0" key="ausstage_home_brand"></a></td>
<td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber25">
<tr align="left">
<td width="100%" align="right">
<img src='/custom/files/ausstage_home_top_GAPA.jpg' border='0' alt='Gateway to the Performing Arts'></td>
</tr>
<tr>
<td align="right" bgcolor='#999999'>
<a href="/admin" target="_blank"><centric_control type="repos_image" border="0" key="ausstage_login_public"></a></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
<tr>
<td width="174px" valign="top" bgcolor="#73BA5E">
<table cellspacing=0 cellpadding=0>
<tr>
  <td>&nbsp;</td>
  <td></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td>
            <!--- family links --->
	    <centric_control type="family_links" valign="middle" width="110" padding="1" dividercolour="#7EBA5E" 
	    indents="0,5,10,15,20,25,30,35"
	    bgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    rolloverbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    currentbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    currentrolloverbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    leftimagekey=",,,,,,,"
	    rightimagekey=",,,,,,,"
	    selectedimagekey=""
	    dividerheight="0" lineheight="1" >
  </td>
</tr>
</table>
</td>
<td>
<table width="100%" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
<tr><td bgcolor="#FFFFFF"></td>
  <td bgcolor="#FFFFFF"><br>
    <table width="100%" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
    <tr>
      <td>
        &nbsp;&nbsp;
      </td>
      <td>
        <centric_control type="body" name="Upper Text">
    <%
    // The following code sits between the "Upper Text" and the "Lower Text" and is used to display the counts for 
    // various tables.

    // This database user is only for connecting to get counts
    admin.Database db_ausstage_for_count = new admin.Database ();
    db_ausstage_for_count.connDatabase (AusstageCommon.AUSSTAGE_DB_USER_NAME, AusstageCommon.AUSSTAGE_DB_PASSWORD);

    CachedRowSet  rsetCount;
    Statement stmtCount = db_ausstage_for_count.m_conn.createStatement ();

    // count is for current date-time
    rsetCount = db_ausstage_for_count.runSQL("select to_char(sysdate, 'FMMonth DDth YYYY') as countDate from dual", stmtCount);
    if(rsetCount.next()){
      out.println("<P class='general_body'>The number of records entered into AusStage as of " + rsetCount.getString("countDate") + " are as follows:</P>");
    } else {
      out.println("<P class='general_body'>The number of records currently entered into AusStage are as follows:</P>");
    }
    rsetCount.close();

    out.println("");
    out.println("<P>");

    // tabulate the output
    out.println("<table class='general_body'>");
    out.println("  <tr>");
    // Events
    rsetCount = db_ausstage_for_count.runSQL("SELECT count(1) as counter from events", stmtCount);
    out.println("<td><STRONG>Events:</STRONG></td>");
    if(rsetCount.next()){
      out.println("<td>" + rsetCount.getString("counter") + "</td>");
    } else {
      out.println("<td>count not available</td>");
    }
    rsetCount.close();

    out.println("  </tr>");
    out.println("  <tr>");

    // Venues
    rsetCount = db_ausstage_for_count.runSQL("SELECT count(1) as counter from venue", stmtCount);
    out.println("<td><STRONG>Venues:</STRONG></td>");
    if(rsetCount.next()){
      out.println("<td>" + rsetCount.getString("counter") + "</td>");
    } else {
      out.println("<td>count not available</td>");
    }
    rsetCount.close();

    out.println("  </tr>");
    out.println("  <tr>");

    // Contributors
    rsetCount = db_ausstage_for_count.runSQL("SELECT count(1) as counter from contributor", stmtCount);
    out.println("<td><STRONG>Contributors:</STRONG></td>");
    if(rsetCount.next()){
      out.println("<td>" + rsetCount.getString("counter") + "</td>");
    } else {
      out.println("<td>count not available</td>");
    }
    rsetCount.close();

    out.println("  </tr>");
    out.println("  <tr>");

    // Organisations
    rsetCount = db_ausstage_for_count.runSQL("SELECT count(1) as counter from organisation", stmtCount);
    out.println("<td><STRONG>Organisations:</STRONG></td>");
    if(rsetCount.next()){
      out.println("<td>" + rsetCount.getString("counter") + "</td>");
    } else {
      out.println("<td>count not available</td>");
    }
    rsetCount.close();

    out.println("  </tr>");
    out.println("  <tr>");

    // Resources
    rsetCount = db_ausstage_for_count.runSQL("SELECT count(1) as counter from item", stmtCount);
    out.println("<td><STRONG>Resources:</STRONG></td>");
    if(rsetCount.next()){
      out.println("<td>" + rsetCount.getString("counter") + "</td>");
    } else {
      out.println("<td>count not available</td>");
    }
    rsetCount.close();

    out.println("  </tr>");
    out.println("</table>");

    out.println("</P>");

    // close the open connections (result set already closed)
    stmtCount.close();
    db_ausstage_for_count.disconnectDatabase();
    %>
    <centric_control type="body" name="Below Text"><br><br>
    <centric_control type="file_links"><br>
      </td>
    </tr>
    </table>
  </td>
</tr>
</table></td>
</tr>
</table>
</td></tr>
<tr>
<td align="left" valign="top">
<table width='100%' border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber24" height="25">
<tr class="general_body" align="right">
<td width="175" bgcolor="#999999" height="24">
&nbsp;</td>
<td  width='100%' bgcolor="#999999" height="24">
<%
java.util.Calendar currentDate = java.util.Calendar.getInstance();
out.println("Copyright &copy; 2003-" + currentDate.get(java.util.Calendar.YEAR) + " AusStage");
%></td>
<td bgcolor="#999999" height="24">
&nbsp;</td>
<td bgcolor="#999999" height="24" colspan="3"></td>
<td bgcolor="#999999" height="24">
&nbsp;</td>
</tr>
<tr>
<td width="175" bgcolor="#333333" colspan="7">
<img src='http://www.ausstage.edu.au/custom/files/spacer.gif' alt='default' border='0' height='1'></td>
</tr>
</table></td>
</tr>
</table>
<p>
&nbsp;
</p>
</html>
