<centric_control type="head">
<body topmargin="0" leftmargin="0" bgproperties="fixed" background="/custom/ausstage/images/ausstage_home_backfill.gif">

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber1">
  <tr>
    <td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber14">
  <tr>
    <td align="left" valign="top">
    <a href="/default.jsp?xcid=27"><centric_control type="repos_image" border="0" key="ausstage_home_brand"></a></td>
    <td align="left" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber25">
      <tr>
        <td width="100%">
        <centric_control type="repos_image" border="0" key="ausstage_contentpage_top1"></td>
      </tr>
      <tr>
        <td width="100%">
        <centric_control type="repos_image" border="0" key="ausstage_contentpage_top2"><a href="/admin" target="_blank"><centric_control type="repos_image" border="0" key="ausstage_contentpage_login"></a><centric_control type="repos_image" border="0" key="ausstage_home_top3"></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber26">
  <tr>
    <td width="174" align="left" valign="top" bgcolor="#7EBA5E">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="174" id="AutoNumber28">
      <tr>
        <td width="174px" valign="top" bgcolor="#7EBA5E">
          <table cellspacing=0 cellpadding=0>
<tr>
  <td>&nbsp;</td>
  <td></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td>
            <!--- family links --->
	    <centric_control type="family_links" valign="middle" width="110" padding="1" dividercolour="#7EBA5E" 
	    indents="0,5,10,15,20,25,30,35"
	    bgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    rolloverbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    currentbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    currentrolloverbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    leftimagekey=",,,,,,,"
	    rightimagekey=",,,,,,,"
	    selectedimagekey=""
	    dividerheight="0" lineheight="1" >
  </td>
</tr>
</table>
        </td>
      </tr>
    </table>
    </td>
    <td bgcolor="#FFFFFF" align="left" valign="top">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="554">
    <centric_control type="body" name="Main Text"><br><br>
    <centric_control type="file_links"><br>
    </td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber24" height="25">
  <tr>
    <td colspan="7" bgcolor="#cccccc">
    <font face="Verdana" style="font-size: 9pt">
    <centric_control type="repos_image" border="0" key="spacer" width="1" height="1"></font></td>
  </tr>
  <tr>
    <td width="175" bgcolor="#999999" height="24">&nbsp;</td>
    <td bgcolor="#999999" height="24">
    <font face="Verdana" size="1">Copyright © 2003 AusStage.</font></td>
    <td bgcolor="#999999" height="24">&nbsp;</td>
    <td bgcolor="#999999" height="24" colspan="3"><centric_control type="footer_links" orientation="horizontal"></td>
    <td bgcolor="#999999" height="24">&nbsp;</td>
  </tr>
  <tr>
    <td width="175" bgcolor="#333333" colspan="7">
    <centric_control type="repos_image" border="0" key="spacer" width="1" height="1"></td>
  </tr>
</table>
    </td>
  </tr>
</table>
<p>&nbsp;</p>