<centric_control type="head"> 
<body topmargin="0" leftmargin="0" bgproperties="fixed" bgcolor="#333333">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber1">
<tr>
<td align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber14">
<tr>
<td align="left" width="174" valign="top">
<a href="/default.jsp?xcid=27"><centric_control type="repos_image" border="0" key="ausstage_home_brand"></a></td>
<td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber25">
<tr align="left">
<td width="100%" align="right">
<img src='/custom/files/ausstage_home_top_GAPA.jpg' border='0' alt='Gateway to the Performing Arts'></td>
</tr>
<tr>
<td align="right" bgcolor='#999999'>
<a href="/admin" target="_blank"><centric_control type="repos_image" border="0" key="ausstage_login_public"></a></td>
</tr>
</table></td>
</tr>
</table></td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111">
<tr>
<td width="174px" valign="top" bgcolor="#7EBA5E">
<table cellspacing=0 cellpadding=0>
<tr>
  <td>&nbsp;</td>
  <td></td>
</tr>
<tr>
  <td>&nbsp;&nbsp;&nbsp;</td>
  <td>
            <!--- family links --->
	    <centric_control type="family_links" valign="middle" width="110" padding="1" dividercolour="#7EBA5E" 
	    indents="0,5,10,15,20,25,30,35"
	    bgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    rolloverbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    currentbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    currentrolloverbgcolours="#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E,#7EBA5E" 
	    leftimagekey=",,,,,,,"
	    rightimagekey=",,,,,,,"
	    selectedimagekey=""
	    dividerheight="0" lineheight="1" >
  </td>
</tr>
</table>
</td>
<td>
<table width="100%" align="right" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse">
<tr height="150" align="right"><%
            int currentTheme = 0;
            if (session.getAttribute("theme") == null) {
              currentTheme = 1;
            }
            else {

              currentTheme = new Integer(session.getAttribute("theme").toString()).intValue();

              if (session.getAttribute("theme").equals("10")){
                currentTheme = 1;
              }
              else {
                currentTheme = currentTheme + 1;
              }
            }
            session.setAttribute("theme", "" + currentTheme);%>
<td colspan='2' align="right" background='/custom/files/ausstage_home_<%=currentTheme%>.jpg'></td>
</tr>
<tr>
<td colspan='2'  background='/custom/files/tabbackground.gif'><a href="/default.jsp?xcid=27"><centric_control type="repos_image" border="0" key="tab_event_on"></a><a href="/advancedsearch.jsp?xcid=134"><centric_control type="repos_image" border="0" key="tab_advsearch_off"></a><a href="/resourcesearch.jsp?xcid=54"><centric_control type="repos_image" border="0" key="tab_resource_off"></a><a href="/queries.jsp?xcid=133"><centric_control type="repos_image" border="0" key="tab_queries_off"></a></td>
</tr>
<tr bgcolor="#A0CA76">
<td width="10px" background='ausstagebgside.gif'>
&nbsp;</td>
<td>
<centric_control type="includepage" path="/custom/ausstage/event_search_form.jsp">
</td>
</tr>
</table></td>
</tr>
</table>
<tr>
<td align="left" valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber24" height="25">
<tr class="general_body" align="right">
<td width="175" bgcolor="#999999" height="24">
&nbsp;</td>
<td bgcolor="#999999" height="24">
<%
java.util.Calendar currentDate = java.util.Calendar.getInstance();
out.println("Copyright &copy; 2003-" + currentDate.get(java.util.Calendar.YEAR) + " AusStage");
%></td>
<td bgcolor="#999999" height="24">
&nbsp;</td>
<td bgcolor="#999999" height="24" colspan="3"></td>
<td bgcolor="#999999" height="24">
&nbsp;</td>
</tr>
<tr>
<td width="175" bgcolor="#333333" colspan="7">
<img src='http://www.ausstage.edu.au/custom/files/spacer.gif' alt='default' border='0' height='1'></td>
</tr>
</table></td>
</tr>
</table>
<p>
&nbsp;
</p>
</html>
