/**
 * Using fam fam icon set from Mark James, http://www.famfamfam.com/lab/icons/silk/ (Creative Commons Attribution 2.5 License)
 */

.ui-rangeSlider{
        height: 22px;
        z-index: 1;
}

.ui-rangeSlider .ui-rangeSlider-innerBar{
        height: 16px;
        margin: 3px 6px;
        background-image: url('../jquery-ui/images/ui-bg_flat_75_bbbbbb_40x100.png');
        background-color: #bbbbbb;
        z-index: 2;
}

.ui-rangeSlider .ui-rangeSlider-handle{
        width: 20px;
        height: 22px;
        background-image: url('../jquery-ui/images/ui-bg_flat_100_333333_40x100.png');
        background-color: #333333;
        cursor: col-resize;
        z-index: 4;
}

.ui-rangeSlider .ui-rangeSlider-bar{
        border: 1px solid #aaaaaa; 
        background: #aaaaaa url(../jquery-ui/images/ui-bg_flat_100_aaaaaa_40x100.png) 50% 50% repeat-x; 
        color: #aaaaaa; 
        margin: 1px 0;
        height:20px;
        cursor:move;
        cursor:grab;
        cursor: -moz-grab;
        z-index:3;
}

.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging{
        cursor: -moz-grabbing;
        cursor:grabbing;
}

.ui-rangeSlider-arrow{
        height: 16px;
        margin: 2px 0;
        width: 32px;
        background-repeat:no-repeat;
        cursor:pointer;
}

.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow{
        background-image: url('icons/resultset_previous.png');
        background-position:center left;
}

.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow{
        background-image: url('icons/resultset_next.png');
        background-position:center right;
}

.ui-rangeSlider-container{
        height:22px;
}

.ui-rangeSlider-withArrows .ui-rangeSlider-container{
        margin-left: 22px;
        margin-right: 22px;
}

.ui-rangeSlider-noArrow .ui-rangeSlider-container{
        margin:0;
}

.ui-rangeSlider-label{
        padding: 2px;
        margin: 2px;
        color: #ffffff; 
        background-image: url('../jquery-ui/images/ui-bg_flat_75_bbbbbb_40x100.png');
        background-color: #bbbbbb;
        background-repeat: repeat;
        z-index: 9999;
        white-space: nowrap;
        font-size: 90%;
        font-family: Helvetica, Verdana, Arial, sans-serif;
}