/*
 * This file is part of the Aus-e-Stage Beta Website
 *
 * The Aus-e-Stage Beta Website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The Aus-e-Stage Beta Website is distributed in the hope that it will 
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the AusStage Mapping Service.  
 * If not, see <http://www.gnu.org/licenses/>.
 */


/* Styles of the screen grab on the home page.  */

ul.services {
	
	display:inline;
	
}


ul.services img {
	padding-top:9px;	
} 


ul.services a img , ul.services a p {
	text-decoration:none;
	color:#333;	
} 


ul.services a:hover img , ul.services a:hover p {
	text-decoration:none;
	color:#333;	
} 



ul.services li {
	float: left;
	list-style:none;
	width:210px;
	border: 1px dotted #666;
	padding:10px;	
	margin:10px;
	
	min-height:300px;
	
}

.clear {
	
	clear:both;
	
}


	
	