/*css rules for the back end*/


th{
  font-weight: bold;	
  text-align: left;
  padding:10px 0px;
  margin:10px 0px; 
  white-space:nowrap; 
}

.bodyhead{
  font-weight: bold;
}

textarea{
  font-family: arial, verdana, arial;
  font-size:13px;   
}

.message{
  padding-top:20px;
}

.mainAdmin{
  padding-top:10px;
  padding-left:10px;
}


