/*
 * This file is part of the AusStage Data Exchange Service
 *
 * AusStage Data Exchange Service is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * AusStage Data Exchange Service is distributed in the hope that it will 
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with AusStage Data Exchange Service.  
 * If not, see <http://www.gnu.org/licenses/>.
 */
/* primary structure styles */



.wrapper {
	margin: 0 auto -2em;
	overflow: hidden;
}

.footer {
	clear: both;
	height: 2em;
}

.push {
	clear:both;
	height: 1px;
}

.tab-container {
	width: 100%;
	height: 100%;
}

#tabs {
	height: 100%;
	width:  100%;
}


/* specific styles for the footer */
.footer  {
	color:#fff;
	font-size: 90%;
	margin-top: 25px;
	padding-top: 3px;
}

.footer p {
	margin: 0;
    text-align: center;
}

.footer a {
	color: #fff;
	text-decoration: none;
}

.footer a:visited {
	/* same colour as f-188 */
	color: #ffffff;
	text-decoration: none;
}

.footer a:hover {
	text-decoration: underline;
}


/* style for things that are clickable */
.clickable {
	color: #001bcc;
	cursor: pointer;
}

.clickable-hover {
	color: #001bcc;
	text-decoration: underline;
}


/* Styles for tables */
table.identifiers {
	background-color: #fff;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-collapse: collapse;
	/*width: 100%;*/
}

table.identifiers th {
	border: 1px solid #aaaaaa;
	padding: 2px 5px 2px 5px;
	color: #000;
	white-space: nowrap;
}

table.identifiers td {
	vertical-align: top;
	padding: 2px 5px 2px 5px;
}

tr.odd {
	background-color: #eeeeee;
}

table.identifiers tfoot {
	border: 1px solid #aaaaaa;
}

td.nowrap {
	white-space: nowrap;
}

td.alignRight {
	text-align: right;
}

th.alignRight {
	text-align: right;
}

/* Styles for tables */
table.searchResults {
        background-color: #fff;
        text-align: left;
        border: 1px solid #aaaaaa;
        border-collapse: collapse;
        width: 100%;
}

table.searchResults th {
        border: 1px solid #aaaaaa;
        padding: 2px;
        text-align: left;
       // color: #000;
}

table.searchResults td {
        padding: 2px;
        vertical-align: top;
}


.status-icon {
	float: left; 
	margin-right: .3em;
	margin-left:  .5em;
}

table.formTable{
	text-align: left!important;
}

table.formTable th{
	vertical-align:top!important;	
	padding-right:10px;
	padding-bottom:10px;
}

textarea{
	width:80%;
	height:410px;	
}

#previewDiv{
	width:49%;
	float:left;	
}

#embedDiv{
	width:49%;
	float:right;	
}

#previewDiv, #embedDiv{
	border:1px solid black;
}

.center{
	text-align:center;	
}

.noBullets{
	list-style-type:none;	
	padding:0px
}

h2{
	margin-top:1em;
}
