/* S T R U C T U R E */

html,body {
	display: block;
	font-family: helvetica, arial, verdana;
	font-size: 12px;
	line-height: 140%;
	color: #333333;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	height: 100%;
	min-width: 320px;
	}

div {
	padding: 0px;
	margin: 0px;
	}

.wrapper {
	zoom: 1;
	min-height:100%;
	position: relative;
}

/* H E A D E R */

#header {
	zoom: 1;
	height: 5em;
}

.header-logo {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 5em;
	width: 120px;
	}

.header-search {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 1.4em;
	margin-right: 10px;
	text-align: right;
	color: #aaaaaa;
	}


/* F O O T E R */

#footer{
	width:100%; 
	min-height:5em;
	position:absolute;
	/*position:fixed;*/
	bottom:0;
	left:0;
	background-color: #aaaaaa;
	padding:0px;
	z-index: 5;
}

.footer-left{
	float:left;
	padding: 10px;
	text-align:left;
}

.footer-right{
	float:right;
	padding:10px;
	text-align:right;
}



/* T E X T */

a {
	color: #001bcc; /* c-189 */
	text-decoration: none;
	border-width: 0;
	}
	
a * {
	color: #001bcc; /* c-189 */
	text-decoration: none;
	border-width: 0;
	}
    
a:hover {
	text-decoration: underline;
	}
    
.label {
	color: #ffffff;
	}

.label a {
	color: #ffffff;
	font-weight: bold;
	}

.label a:hover {
	text-decoration: underline;
	color: #ffffff;
	}

.light {
	color: #aaaaaa;
	}

.light a {
	font-weight: bold;
	color: #aaaaaa;
	}

.light a:hover {
	text-decoration: underline;
	}

.small {
	font-size: 0.8em;
	}

.large {
	font-size: 1.1em;
	}


.bold {
	font-weight: bold;
	}
	
.top {
	valign: top!important;
	}

h1 {
	font-size: 1.3em;
	font-weight: normal;
	color: #666666;
	background-color: #eeeeee;
	padding: 3px;
	}

h2 {
	font-size: 1.1em;
	font-weight: normal;
	color: #666666;
	background-color: #eeeeee;
	padding: 3px;
	}

h3 {
	font-size: 1em;
	font-weight: bold;
	color: #666666;
	}

th {
	font-weight: normal;
}


/* N A V I G A T I O N */

.navigation {
	height: 1.5em;
	background-color: #aaaaaa;
	padding: 3px 3px 3px 0px;
	}

.navigation ul {
	display: block;
	margin: 0px;
	list-style: none;
}

.navigation li {
	display: inline;
	list-style: none;
	vertical-align: middle;
	}

.navigation li a {
	padding: 5px 1em;
	font-weight: normal;
	}

.navigation a:hover {
	background-color: #666666;
	text-decoration: none;
	padding: 5px 1em;
	}

#loginBar{
    margin:-2px 10px;
    padding: 0px;
    }
    
#loginBar a {
    color: white;
    }
    
#loginBar a, #loginBar select {
     float: right;
    }
    
#loginBar a:hover {
	background-color: #aaaaaa;
	text-decoration: underline;
	padding: 0px;
	}    


/* B O X E S */

.boxes {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 5em;
}

.box {
    position: relative;
    display: inline-block; 
    width: 218px;
    height: 156px;
    margin: 0px 10px 10px 0px;
    padding: 5px;
    }

.box a {
    color: #ffffff;
    text-decoration: none;
    }

.box-count,.box-count-load {
	text-align: center;
	position: absolute;
	color: #ffffff;
	left: 0px;
	top: 72px;
	width: 228px;
	font-size: 1.3em;
	}

.box-label {
	text-align: right;
	position: absolute;
	color: #ffffff;
	width: 218px;
	left:0px;
	bottom: 10px;
	font-size: 1.1em;
}

.box-icon {
	position: absolute;
	left: 0px;
	top: 0px;
	}

.box-image {
	position: absolute;
	left: 0px;
	top: 0px;
	
	}

.box-definition {}


/* B R O W S E   R E C O R D S */

.browse {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom:6em;
}

.browse-bar {
	position: relative;
	height: 2em;
	padding: 3px 3px 3px 3px;
	}

.browse-icon {
	position: absolute;
	left: 0px;
	top: 0px;
	}

.browse-heading {
	position: absolute;
	left: 33px;
	top: 0.6em;
	color:#ffffff;
	}

.browse-index {
	position: absolute;
	bottom: 0.5em;
	right: 10px;
	color: #ffffff;
	}

.browse-index a {
	color: #ffffff;
	padding: 3px;
	}

.browse-index-contributor a:hover, .browse-index-function a:hover {
	background-color:#52ad43; /* b-106 green*/
	text-decoration: none;
	}
	
.browse-index-event a:hover, .browse-index-genre a:hover, .browse-index-subject a:hover {
	background-color:#2557d3; /* b-91 blue */
	text-decoration: none;
	}	

.browse-index-venue a:hover {
	background-color:#ffb620; /* b-135 yellow */
	text-decoration: none;
	}	

.browse-index-organisation a:hover {
	background-color:#e13a3b; /* b-122 red */
	text-decoration: none;
	}	

.browse-index-resource a:hover, .browse-index-work a:hover {
	background-color:#7234a4; /* b-154 purple */
	text-decoration: none;
	}	

.browse-table {
	position: relative;
	width:100%;
	border-collapse: collapse;
	border-width:0px;
	margin-top:10px;
	margin-bottom: 10px;
}

.browse-table thead {
	background-color: #aaaaaa;
	text-align: left;
}

.browse-table th {
	padding: 0.3em;
}

.browse-table th a {
	color:#ffffff;
	text-decoration: none;
	font-weight: normal;
}
/*, .browse-table a:hover*/
.browse-table th:hover{
	background-color:#666666;
	text-decoration: none;
	}

.browse-table td {
	padding: 0.3em;

}

/* S E A R C H   R E S U L T S */

.search {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom:6em;
}

.search-bar {
	position: relative;
	height: 2em;
	padding: 3px 3px 3px 3px;
	}

.search-icon {
	position: absolute;
	left: 0px;
	top: 0px;
	}

.search-heading {
	position: absolute;
	left: 33px;
	top: 0.6em;
	color:#ffffff;
	}

.search-index {
	position: absolute;
	bottom: 0.5em;
	right: 10px;
	color: #ffffff;
	}

.search-index a {
	color: #ffffff;
	padding: 3px;
	}

.search-index-event a:hover, .search-index-genre a:hover, .search-index-subject a:hover {
	background-color:#2557d3; /* b-91 blue */
	text-decoration: none;
	}	

.search-index-contributor a:hover, .search-index-function a:hover {
	background-color:#52ad43; /* b-106 green*/
	text-decoration: none;
	}
	
.search-index-venue a:hover {
	background-color:#ffb620; /* b-135 yellow */
	text-decoration: none;
	}	

.search-index-organisation a:hover {
	background-color:#e13a3b; /* b-122 red */
	text-decoration: none;
	}	

.search-index-resource a:hover, .search-index-work a:hover {
	background-color:#7234a4; /* b-154 purple */
	text-decoration: none;
	}	

.search-table {
	position: relative;
	width:100%;
	border-collapse: collapse;
	border-width:0px;
	margin-top:10px;
	margin-bottom: 10px;
}

.search-table thead {
	background-color: #aaaaaa;
	text-align: left;
}

.search-table th {
	padding: 0.3em;
}

.search-table th a {
	color:#ffffff;
	text-decoration: none;
	font-weight: normal;
}
/*, .search-table a:hover*/
.search-table th:hover{
	background-color:#666666;
	text-decoration: none;
	}

.search-table td {
	padding: 0.3em;

}

/* S E A R C H  F O R M */

.search-form {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 6em;
}

.search-form-table {
	position: relative;
	width:100%;
	border-collapse: collapse;
	border-width:0px;
	margin-top:10px;
	margin-bottom: 10px;}

.search-form-label {
	vertical-align: top;
	text-align: right;
	width: 218px;
	padding: 5px; 
	color: #ffffff;
}

.search-form-value {
	position: relative;
	vertical-align: top;
	text-align: left;
	word-wrap: break-word;
	padding: 5px 5px 5px 10px;
}

.search-form-input-number {
	width: 54px;
}

.search-form-input-text {
	width: 218px;
}

.search-basic-box {
    zoom:1;
    position: relative;
    display: inline-block;
    height: 156px;
    margin: 0px 10px 10px 0px;
    padding: 5px;
    vertical-align: top;
    }


/* R E C O R D S */

.record {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5em;
	position: relative;
}

.record-table {
	position: relative;
	width:100%;
	border-collapse: collapse;
	border-width:0px;
	margin-top:10px;
	margin-bottom: 10px;
}

.record-label {
	vertical-align: top;
	text-align: right;
	width: 218px;
	padding: 5px; 
	color: #ffffff;
}

.record-value {
	position: relative;
	vertical-align: top;
	text-align: left;
	word-wrap: break-word;
	padding: 5px 5px 5px 10px;
}

.record-tabs {
	background-color: #aaaaaa;
	height: 1.3em;
	padding: 5px 1em;
	margin: 0px 0px 0px 10px;
}

.record-tabs ul {
	list-style: none;
	margin: -5px 0px 0px 0px;
	padding: 5px 5px 5px 0px;
}

.record-tabs li {
	display: inline;
	list-style: none;
	padding: 0px 1em 0px 5px;
	margin: 0px;
}

.record-tabs li a {
	font-weight: normal;
	padding: 5px 1em;
}

.record-tabs a:hover {
	background-color: #666666;
	text-decoration: none;
/*	padding: 5px 1em; */
	}

.record-value ul {
	list-style: none;
	margin: -5px 0px 0px 0px;
	padding: 5px 5px 5px 0px;
}

.record-value li {
	list-style: none;
	padding: 0px 0px 5px 0px;
}

.record-value h3 { 
	padding: 0px 0px 5px 0px;
	font-size: 1em;
	margin: 0em;
}



.record-picture {
	min-height: 100px;
	max-height: 100px;
	border: 0px;
}

.record-comment{
	width: 40%;
	vertical-align: top;
	z-index: 100;
	position:relative;
}

/* P A G E S */

.page{
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: top; 
	position: relative;
	padding-bottom: 5em;
}

.page-menu {
float: left; clear: right;
/*	display: inline-block; */
	vertical-align: top;
	width: 218px;
	background-color: #c8c8c8;
	margin: 0px 10px 10px 0px;
    	padding: 5px;
}

.page-menu-single {
        position: absolute;
	top: 0px; 
	left: 0px; bottom: 6em;
}


.page-menu-list {
	list-style: none;
	margin: 5px;
	padding: 0px;
}

.page-menu-list li {
	margin: 5px;
	padding: 0px;
}

.page-menu-list a {
	font-weight: normal;
}

.page-content{
	position: relative;
	top: 0px; left: 236px;
	margin-right: 236px;
	vertical-align: top;
	text-align: left;
	word-wrap: break-word;
}

.page-content h2 {
	margin: 0px;
	padding: 0px;
	font-size: 1.4em;
	font-weight: normal;
	color: #aaaaaa;
}

.page-content h3 {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
	font-weight: normal;
	color: #aaaaaa;
}