/*
 * Version 3 of the AusStage colour scheme 
 * use these styles for element colours
 */

.f-1 {

	color: #4eb8ad;

}



.f-2 {

	color: #004d35;

}



.f-3 {

	color: #66c547;

}



.f-4 {

	color: #ffc11f;

}



.f-5 {

	color: #ff8a22;

}



.f-6 {

	color: #f34648;

}



.f-7 {

	color: #980909;

}



.f-8 {

	color: #c259b5;

}



.f-9 {

	color: #8c4eb8;

}



.f-10 {

	color: #3875d7;

}



.f-11 {

	color: #001bcc;

}



.f-12 {

	color: #141414;

}



.f-13 {

	color: #9d7050;

}



.f-14 {

	color: #969696;

}



.f-15 {

	color: #276abd;

}



.f-16 {

	color: #3b91b5;

}



.f-17 {

	color: #4eb8ad;

}



.f-18 {

	color: #278271;

}



.f-19 {

	color: #004d35;

}



.f-20 {

	color: #33893e;

}



.f-21 {

	color: #66c547;

}



.f-22 {

	color: #b3c333;

}



.f-23 {

	color: #ffe010;

}



.f-24 {

	color: #ffc11f;

}



.f-25 {

	color: #ffa521;

}



.f-26 {

	color: #ff8a22;

}



.f-27 {

	color: #f96835;

}



.f-28 {

	color: #f34648;

}



.f-29 {

	color: #c52829;

}



.f-30 {

	color: #980909;

}



.f-31 {

	color: #ad315f;

}



.f-32 {

	color: #c259b5;

}



.f-33 {

	color: #a754b7;

}



.f-34 {

	color: #8c4eb8;

}



.f-35 {

	color: #6262c7;

}



.f-36 {

	color: #3875d7;

}



.f-37 {

	color: #1c48d1;

}



.f-38 {

	color: #001bcc;

}



.f-39 {

	color: #276abd;

}



.f-40 {

	color: #317db9;

}



.f-41 {

	color: #3b91b5;

}



.f-42 {

	color: #44a4b1;

}



.f-43 {

	color: #4eb8ad;

}



.f-44 {

	color: #3b9d8f;

}



.f-45 {

	color: #278271;

}



.f-46 {

	color: #146853;

}



.f-47 {

	color: #004d35;

}



.f-48 {

	color: #1a6b3a;

}



.f-49 {

	color: #33893e;

}



.f-50 {

	color: #4da743;

}



.f-51 {

	color: #66c547;

}



.f-52 {

	color: #8cc43d;

}



.f-53 {

	color: #b3c333;

}



.f-54 {

	color: #d9d121;

}



.f-55 {

	color: #ffe010;

}



.f-56 {

	color: #ffd117;

}



.f-57 {

	color: #ffc11f;

}



.f-58 {

	color: #ffb320;

}



.f-59 {

	color: #ffa521;

}



.f-60 {

	color: #ff9821;

}



.f-61 {

	color: #ff8a22;

}



.f-62 {

	color: #fc792c;

}



.f-63 {

	color: #f96835;

}



.f-64 {

	color: #f6573f;

}



.f-65 {

	color: #f34648;

}



.f-66 {

	color: #dc3738;

}



.f-67 {

	color: #c52829;

}



.f-68 {

	color: #af1819;

}



.f-69 {

	color: #980909;

}



.f-70 {

	color: #a31d34;

}



.f-71 {

	color: #ad315f;

}



.f-72 {

	color: #b7458a;

}



.f-73 {

	color: #c259b5;

}



.f-74 {

	color: #b556b6;

}



.f-75 {

	color: #a754b7;

}



.f-76 {

	color: #9951b7;

}



.f-77 {

	color: #8c4eb8;

}



.f-78 {

	color: #7758c0;

}



.f-79 {

	color: #6262c7;

}



.f-80 {

	color: #4d6bcf;

}



.f-81 {

	color: #3875d7;

}



.f-82 {

	color: #2a5fd4;

}



.f-83 {

	color: #1c48d1;

}



.f-84 {

	color: #0e31cf;

}



.f-85 {

	color: #001bcc;

}



.f-86 {

	color: #1442c4;

}



.f-87 {

	color: #afc8ef;

}



.f-88 {

	color: #88ace7;

}



.f-89 {

	color: #6091df;

}



.f-90 {

	color: #3875d7;

}



.f-91 {

	color: #2557d3;

}



.f-92 {

	color: #1339d0;

}



.f-93 {

	color: #001bcc;

}



.f-94 {

	color: #0322ac;

}



.f-95 {

	color: #05298b;

}



.f-96 {

	color: #08306b;

}



.f-97 {

	color: #749ee3;

}



.f-98 {

	color: #3875d7;

}



.f-99 {

	color: #1c48d1;

}



.f-100 {

	color: #001bcc;

}



.f-101 {

	color: #08306b;

}



.f-102 {

	color: #c2e8b5;

}



.f-103 {

	color: #a3dc91;

}



.f-104 {

	color: #85d16c;

}



.f-105 {

	color: #66c547;

}



.f-106 {

	color: #52ad43;

}



.f-107 {

	color: #3d9540;

}



.f-108 {

	color: #297d3c;

}



.f-109 {

	color: #146539;

}



.f-110 {

	color: #004d35;

}



.f-111 {

	color: #00441b;

}



.f-112 {

	color: #a3dc91;

}



.f-113 {

	color: #66c547;

}



.f-114 {

	color: #3d9540;

}



.f-115 {

	color: #146539;

}



.f-116 {

	color: #004d35;

}



.f-117 {

	color: #fddada;

}



.f-118 {

	color: #fab5b6;

}



.f-119 {

	color: #f89091;

}



.f-120 {

	color: #f56b6d;

}



.f-121 {

	color: #f34648;

}



.f-122 {

	color: #e13a3b;

}



.f-123 {

	color: #cf2e2f;

}



.f-124 {

	color: #aa1516;

}



.f-125 {

	color: #980909;

}



.f-126 {

	color: #67000d;

}



.f-127 {

	color: #f89091;

}



.f-128 {

	color: #f34648;

}



.f-129 {

	color: #cf2e2f;

}



.f-130 {

	color: #980909;

}



.f-131 {

	color: #67000d;

}



.f-132 {

	color: #ffda79;

}



.f-133 {

	color: #ffcd4c;

}



.f-134 {

	color: #ffc11f;

}



.f-135 {

	color: #ffb620;

}



.f-136 {

	color: #ffab20;

}



.f-137 {

	color: #ffa021;

}



.f-138 {

	color: #ff9521;

}



.f-139 {

	color: #ff8a22;

}



.f-140 {

	color: #f96835;

}



.f-141 {

	color: #d94801;

}



.f-142 {

	color: #ffd462;

}



.f-143 {

	color: #ffc11f;

}



.f-144 {

	color: #ff8a22;

}



.f-145 {

	color: #f96835;

}



.f-146 {

	color: #d94801;

}



.f-147 {

	color: #e7bde1;

}



.f-148 {

	color: #da9bd3;

}



.f-149 {

	color: #ce7ac4;

}



.f-150 {

	color: #c259b5;

}



.f-151 {

	color: #b055b6;

}



.f-152 {

	color: #9e52b7;

}



.f-153 {

	color: #8c4eb8;

}



.f-154 {

	color: #7234a4;

}



.f-155 {

	color: #591a91;

}



.f-156 {

	color: #3f007d;

}



.f-157 {

	color: #da9bd3;

}



.f-158 {

	color: #ce7ac4;

}



.f-159 {

	color: #b055b6;

}



.f-160 {

	color: #8c4eb8;

}



.f-161 {

	color: #591a91;

}



.f-162 {

	color: #c5c5c5;

}



.f-163 {

	color: #b5b5b5;

}



.f-164 {

	color: #a6a6a6;

}



.f-165 {

	color: #969696;

}



.f-166 {

	color: #98897f;

}



.f-167 {

	color: #9b7d67;

}



.f-168 {

	color: #9d7050;

}



.f-169 {

	color: #896247;

}



.f-170 {

	color: #74553e;

}



.f-171 {

	color: #604735;

}



.f-172 {

	color: #ffffff;

}



.f-173 {

	color: #fcfcfc;

}



.f-174 {

	color: #e2e2e2;

}



.f-175 {

	color: #c8c8c8;

}



.f-176 {

	color: #afafaf;

}



.f-177 {

	color: #959595;

}



.f-178 {

	color: #7b7b7b;

}



.f-179 {

	color: #616161;

}



.f-180 {

	color: #484848;

}



.f-181 {

	color: #2e2e2e;

}



.f-182 {

	color: #141414;

}



.f-183 {

	color: #000000;

}



.f-184 {

	color: #ffffff;

}



.f-185 {

	color: #eeeeee;

}



.f-186 {

	color: #aaaaaa;

}



.f-187 {

	color: #333333;

}



.f-188 {

	color: #000000;

}



.f-189 {

	color: #001bcc;

}



.f-190 {

	color: #fef1a9;

}



.f-191 {

	color: #ffde2e;

}



.f-192 {

	color: #da4b4b;

}



.f-193 {

	color: #9e0505;

}



