/*
 * This file is part of the AusStage Mapping Service
 *
 * The AusStage Mapping Service is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The AusStage Mapping Service is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the AusStage Mapping Service.
 * If not, see <http://www.gnu.org/licenses/>.
*/

* {
    margin: 0;
}


.push {
	clear: both;
    height: 1px;
}

.tab-container {
        width: 100%;
        height: 100%;
}

#tabs {
        height: 100%;
        width:  100%;
}


/* specific styles for the footer */
.footer  {
    clear: both;
    position:relative;
}

.footer p{
	text-align: center;	
	margin:0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:visited {
    /* same colour as f-188 */
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
/*anchor tags*/
a {
		color: #001BCC;
        /*color: #3300ff;*/
        text-decoration: none;
}

a:hover {
        text-decoration: underline;
}

.main p {
	margin: 1em 0;
}

p {
	margin: 1em 0;	
}

.space {
	margin: 0 0!important;
}
	
/*sidebar*/
.sidebar {
    overflow: hidden;
    width: 190px !important;
}



#downloadLink, #bookmarkLink {
		color:#333;	
}

h2 {
	margin-top: 1em;
}

/* Styles for forms */
table.formTable{
		padding:0px;
        border-width: 1px;
        border-collapse: collapse;
}

table.formTable th {
        text-align: left;

}

table.formTable th label {
        text-align: left;

}

/* specific styles for messages with the search box */
.search-status-messages {
        min-height: 30px; 
        padding-top: 10px;
        padding-right: .7em;
}

.status-icon {
        float: left; 
        margin-right: .3em;
        margin-left:  .5em;
}

/* Styles for Validation Errors */
label.error {
        float: none;
        color: red;
        padding-left: .5em;
        vertical-align: top;
}

/* Styles for tables */
table.searchResults {
        background-color: #fff;
        text-align: left;
        border: 1px solid #aaaaaa;
        border-collapse: collapse;
        width: 100%;
}

table.searchResults th {
        border: 1px solid #aaaaaa;
        padding: 2px;
        text-align: left;
       // color: #000;
}

table.searchResults td {
        padding: 2px;
        vertical-align: top;
}

tr.odd {
        background-color: #eeeeee;
}

td.nowrap {
        white-space: nowrap;
}


td.alignRight {
        text-align: right;
}

th.alignRight {
        text-align: right!important;
}


table.searchResults tfoot {
        border: 1px solid #aaaaaa;
        font-size: 100%;
}

table.searchResults td a {
		color:#3300ff;
}

/* Dialog styles */
.ui-dialog-content a {
        color: blue!important;
}

.ui-dialog-content a:visited {
        color: purple!important;
}

#date_range_div{
	background:#eeeeee;	
}

/*custom dialog no title */
.noTitle .ui-dialog-titlebar {display:none;}
.noPadding .ui-dialog-content{padding:0 0;}

/*color picker*/
/*.color_picker{position:absolute;}*/
.color_picker td{width: 15px;height: 15px;border: solid 1px #000000;cursor:pointer;}
.color_picker table{background-color: #FFFFFF;border: solid 1px #ccc;}



/* Legend style components. */
.legendContainer{
	overflow:auto;	
}

.legendHeader {
		width:99%;        
        margin:0 0 0 0;
        color:#fff;	
        padding:10px 10px 10px 10px;
        background: #aaaaaa;
        font-family:Helvetica, Arial, sans-serif;
        cursor:pointer;
		text-align:left!important;
		font-weight:normal;
}

.legendSml{
		width:99%!important;	
}

#faceted_body{
	padding:5px 5px 10px 5px;
	}

.titleLink:hover {
	text-decoration:underline!important;
	
}

.legendHeader:hover {
		background: #bbbbbb;
}

.legendHeader:hover a{
		background: #bbbbbb;
}

.legendHeader a{
        font-weight:normal;
        margin:0 0 0 0;
		font-size:1em;
        color:#fff;
        background: #aaaaaa;
}

.legendHeader.open a{
		background: #333333 !important;
} 

.legendHeader p{
        font-weight:normal;
        margin:0 0 0 0;
        font-size:0.75em;
        color:#fff;
}

.legendHeader_hide{
        font-weight:normal;
        margin:0 0 0 0;
        font-size:0.75em;
        color:#fff;
}

.legendHeader.open  {
		background: #333333 !important;
}

.legendBody {
		margin-top:-2px;
		top:1px;
		padding:1em 0.25em;
		zoom:1;
        /*max-height:200px;*/
        overflow:auto;
        background: #fff;      
        border:1px solid #fff;
        border-width:0 0px;
        display:none;
        color:#333;      
} 

.autoHeight {
	max-height:1000px!important;	
}

.legendBody a {
        font-weight:normal;
        margin:0 0 -5px 0;
        color:#3300ff;
}

.darkLink {
		color:#333!important;	
}

.legendBody p {
        font-weight:normal;
        margin:0 0 -5px 0;
        font-size:0.75em;
        color:#000;
}

.legendBody_hide {
        font-weight:normal;
        margin:0 0 -5px 0;
        /*font-size:9px;*/
        color:#000;
}

.legendBody table {
	border-collapse: collapse;
	width: 100%;
}

.legendBody th{
		vertical-align: top;
		color: #AAA;
		font-weight: normal;	
		text-align:left;
}
.legendBody td{
		vertical-align: top;	
}

.legendBody tr.d1 td {
	background-color:#eeeeee;
	padding-bottom:10px;
}

.legendBody tr.d0 td {
	background-color:#fff; 
	padding-bottom:10px;
}

/* date styling */
.date {
	white-space:nowrap;
}

/*faceted browsing style*/
#faceted_browsing_div {
	border: 1px solid #ccc;
	font-family:Helvetica, Arial, sans-serif;
    font-size:1em;        
}
#faceted_browsing_div .legendBody{
    font-size:0.8em;        
	border: 1px solid #ccc;    
}

.scroll_checkboxes{
	border: 1px solid #ccc;	
}

.scroll_checkboxes tr.d1 td {
	padding-top:0px;
	padding-bottom:0px;
}

.scroll_checkboxes tr.d0 td {
	padding-top:0px;
	padding-bottom:0px;
}

.clickable{
	cursor:pointer;
}

.clickable:hover {
	text-decoration:underline;
}

/* Styles of the screen grab on the home page.  */

ul.services {
        display: inline;
}

ul.services img {
        padding-top: 9px;       
} 

ul.services a img , ul.services a p {
        text-decoration: none;
        color: #333;
        border: 0px;
} 

ul.services p {
        padding-bottom: 0px;
        margin-bottom: 0px;
}

ul.services a:hover img , ul.services a:hover p {
        text-decoration: none;
        color: #333;    
} 

ul.services li {
        float: left;
        list-style: none;
        width: 230px;
        border: 1px dotted #666;
        padding: 10px 10px 0px 10px;    
        margin: 10px 10px 0px 10px;     
        min-height: 250px;
}

.clear {
        clear: both;
        padding-top: 1em;
}

.dialogs h3 {
		margin-bottom: 1em;
}

.contributorRemoveIcon, .eventRemoveIcon{
		display: inline-block!important;
		vertical-align: bottom;	
}
/* Styles for the help icons */
.helpIcon {
        /* based on jQueryUi icons */
        width: 16px;
        height: 16px;
        display: inline-block;
        /* blue icons */
        background-image: url(/pages/assets/jquery-ui/images/ui-icons_2e83ff_256x240.png);
        /* ui icon help */
        background-position: -48px -144px;
}


/* Styles for the Tipsy Library */
.tipsy { padding: 5px; font-size: 10px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }


table.nav_control {
	position: absolute;
	top: 30px;
	left: 30px;
	
}