/*
 * This file is part of the Aus-e-Stage Beta Website
 *
 * The Aus-e-Stage Beta Website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The Aus-e-Stage Beta Website is distributed in the hope that it will 
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the AusStage Mapping Service.  
 * If not, see <http://www.gnu.org/licenses/>.
 */
/* This shared across the whole project */

#About {
    padding-left:10px;
    padding-right: 10px;

}


ul.services li {
	
	min-height:200px;

}



img
{border: none;
}
#content {
    padding-left:12px;
    padding-top:12px;
    padding-right:12px;
}
.ui-state-error, .ui-state-highlight {
	display:none; 
	margin:40px;
	
}

#error_message {
	display:none;
	background-color:#EFA7B5;
	padding:10px;
	font-weight:bolder;
	font-size:1.4em;
	border:#F00 thick solid;
	width:90%;
	margin:10px;
	color:#FFF;
	
}



/* Tables
-------------------------------------------------------------- */

/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */ 
table       {

              margin-bottom: 1.4em;
              width:98%;
              border: 1px solid #AAA;

}

th          { font-weight: bold; }

thead th    { background:#333333;
             text-align:left;
             color:#ffffff;

}

th,td,caption { padding: 4px 10px 4px 5px; }

tr {
	
	background:#FFF;
	background-color:#F5F5F5
	
}

td {
        padding:3px;
}

td.totalFeedbackCount {
	width:60px;	
}
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
tbody tr:nth-child(even) td, 
tbody tr.even td  { 

}
tfoot       { font-style: italic; }
caption     { background: #eee; }

td.event {
    min-width: 80px;
}


/* Icon placement for the different view types */
td.view {

    width:200px;
    min-width: 100px;
    display:block;

    height: 60px;
    
}

.visList, .visSign, .visCloud, .visImage {
    width:35px;
    font-size: .75em;
    float:left;
    margin-left: 13px;
    
}


.visList img, .visSign img, .visCloud img, .visImage img  {
 
    padding-left:-30px;
}

.label {
    padding-left:2px;
}

.visList a:hover , .visSign a:hover , .visCloud a:hover, .visImage a:hover  {
    text-decoration: none;

}

.visList a:hover a.img:hover {
     text-decoration: none;
     color:white;

}
#viewChoices .instructions {
    padding: 12px;
}

#viewChoices {
    float:right;
    margin-right: 32px;
    margin-bottom: 12px;
}




/*
#viewChoices, #instructions {
    margin-left: 10px;
}

/* The formatting of the view choice buttons */ 

#viewChoices input  {
    background-color: #aaaaaa;
    padding:6px;
    border: none;
    font-weight: bold;
    font-size: .9em;
    color:white;
    height: 34px;
    padding-left:32px;
    padding-right:32px;

   
    
    width:110px;
}




#viewChoices input#chooseList {
    background-image: url('../assets/images/list-icon.png');
    background-repeat: no-repeat;
    background-position: left;
    
    
}

#viewChoices input#chooseCloud {
    background-image: url('../assets/images/tagcloud-icon.png');
    background-repeat: no-repeat;
    background-position: left;


}


/* relates to add button */ 

.CurrentPerformance  {
    display: none;
}

.add .form {
    margin-left: 10px;
}

.add .form  {
    margin-left: 10px;
    margin-top: 10px;
}

.add textarea  {
   
     width:80%;
}

.about {
   
    padding-top:12px;
    padding-bottom: 12px;
    
    width:80%;
    font-size: .85em;
    margin-bottom: 6px;
    margin-top: 6px;
    display:block;

}


.loading  {

    background-image: url('images/loading.gif');
    background-position:center;
    background-repeat: no-repeat;

    min-height: 50px;

}

/*  Current Peformances on the homepage */

#CurrentPerformances ul li {
  
   margin: 12px;
}


#CurrentPerformances ul li {
    list-style: none;
    border-bottom: 1px solid #333;
    padding-bottom: 6px;
    margin-left: -35px;
}


#CurrentPerformances .event {
    font-size: 1.6em;
    font-weight: bold;

}

#CurrentPerformances .event-not-found {
    font-size: 1.2em;

}




#Performances {
       margin-top: 12px;
       margin-left: 12px;

}

#Performances #SearchResults {
       margin-top: 12px;
}

#SearchResults {
  
}

/*shared display what the current performance is */

.info  {
	padding-top:3px;
	font-size:1.1em;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
}
/*
.info .event {
		font-size:1.5em;
}

 .info .organisation {
		 font-weight:lighter;
	 }

.info .venue  {
	 font-weight:lighter;
	}

.info .date  {
		 font-weight:lighter;
	}
*/
.info h4.question {
	font-size:1.6em;
	font-weight:bold;
}

.info p {
	padding:3px;
}


.feedbackfooter {
    padding:8px;
}