/*
 * Version 3 of the AusStage colour scheme 
 * use these styles for element background colours
 */
 
/*ausstage hover colors -- maybe it would be better to switch to SASS or something rather than have this? 
would most likely be easier to manage.
Anyway, using this instead of javascript to handle on hover for clickable items - that wasn't really a thing in the last version of ausstage.
*/ 

/* items and works*/
.show-hide.clickable > .b-153:hover{
	background-color: #8045b1;
}
.show-hide.clickable.b-153:hover{
	background-color: #8045b1;
}
/*contributors*/
.show-hide.clickable.b-105:hover{
	background-color: #65bf45;
}
/*events*/
.show-hide.clickable.b-90:hover{
	background-color: #366CD5;
}
/*organisations*/
.show-hide.clickable.b-121:hover{
	background-color: #e64446;
}
/*venues*/
.show-hide.clickable.b-134:hover{
	background-color: #f5be32;
}


 
 /*exhibition color*/
.multi-color {
	background: linear-gradient( to right, #3875d7 , #3875d7 20%, 
			             #66c547 20%, #66c547 40%, 
			             #ffc11f 40%, #ffc11f 60%, 
			             #f34648 60%, #f34648 80%, 
			             #8c4eb8 80%)
}

.multi-color-mo {
	background: linear-gradient( to right, #2557d3 , #2557d3 20%, 
			             #52ad43 20%, #52ad43 40%, 
			             #ffb620 40%, #ffb620 60%, 
			             #e13a3b 60%, #e13a3b 80%, 
			             #7234a4 80%)
}

.multi-color-border {
    border-left: 22px solid;
    border-image: linear-gradient( to bottom, #3875d7 , #3875d7 20%, 
    				   #66c547 20%, #66c547 40%, 
    				   #ffc11f 40%, #ffc11f 60%, 
    				   #f34648 60%, #f34648 80%, 
    				   #8c4eb8 80%) 1;
}

.multi-color-border-mo {
    border-left: 22px solid;
    border-image: linear-gradient( to bottom, #2557d3 , #2557d3 20%, 
			             #52ad43 20%, #52ad43 40%, 
			             #ffb620 40%, #ffb620 60%, 
			             #e13a3b 60%, #e13a3b 80%, 
			             #7234a4 80%) 1;
}

.border-153{
    border-left: 22px solid #8c4eb8;   
}
 /*exhibition color*/



.b-1 {

	background-color: #4eb8ad;

}



.b-2 {

	background-color: #004d35;

}



.b-3 {

	background-color: #66c547;

}



.b-4 {

	background-color: #ffc11f;

}



.b-5 {

	background-color: #ff8a22;

}



.b-6 {

	background-color: #f34648;

}



.b-7 {

	background-color: #980909;

}



.b-8 {

	background-color: #c259b5;

}



.b-9 {

	background-color: #8c4eb8;

}



.b-10 {

	background-color: #3875d7;

}



.b-11 {

	background-color: #001bcc;

}



.b-12 {

	background-color: #141414;

}



.b-13 {

	background-color: #9d7050;

}



.b-14 {

	background-color: #969696;

}



.b-15 {

	background-color: #276abd;

}



.b-16 {

	background-color: #3b91b5;

}



.b-17 {

	background-color: #4eb8ad;

}



.b-18 {

	background-color: #278271;

}



.b-19 {

	background-color: #004d35;

}



.b-20 {

	background-color: #33893e;

}



.b-21 {

	background-color: #66c547;

}



.b-22 {

	background-color: #b3c333;

}



.b-23 {

	background-color: #ffe010;

}



.b-24 {

	background-color: #ffc11f;

}



.b-25 {

	background-color: #ffa521;

}



.b-26 {

	background-color: #ff8a22;

}



.b-27 {

	background-color: #f96835;

}



.b-28 {

	background-color: #f34648;

}



.b-29 {

	background-color: #c52829;

}



.b-30 {

	background-color: #980909;

}



.b-31 {

	background-color: #ad315f;

}



.b-32 {

	background-color: #c259b5;

}



.b-33 {

	background-color: #a754b7;

}



.b-34 {

	background-color: #8c4eb8;

}



.b-35 {

	background-color: #6262c7;

}



.b-36 {

	background-color: #3875d7;

}



.b-37 {

	background-color: #1c48d1;

}



.b-38 {

	background-color: #001bcc;

}



.b-39 {

	background-color: #276abd;

}



.b-40 {

	background-color: #317db9;

}



.b-41 {

	background-color: #3b91b5;

}



.b-42 {

	background-color: #44a4b1;

}



.b-43 {

	background-color: #4eb8ad;

}



.b-44 {

	background-color: #3b9d8f;

}



.b-45 {

	background-color: #278271;

}



.b-46 {

	background-color: #146853;

}



.b-47 {

	background-color: #004d35;

}



.b-48 {

	background-color: #1a6b3a;

}



.b-49 {

	background-color: #33893e;

}



.b-50 {

	background-color: #4da743;

}



.b-51 {

	background-color: #66c547;

}



.b-52 {

	background-color: #8cc43d;

}



.b-53 {

	background-color: #b3c333;

}



.b-54 {

	background-color: #d9d121;

}



.b-55 {

	background-color: #ffe010;

}



.b-56 {

	background-color: #ffd117;

}



.b-57 {

	background-color: #ffc11f;

}



.b-58 {

	background-color: #ffb320;

}



.b-59 {

	background-color: #ffa521;

}



.b-60 {

	background-color: #ff9821;

}



.b-61 {

	background-color: #ff8a22;

}



.b-62 {

	background-color: #fc792c;

}



.b-63 {

	background-color: #f96835;

}



.b-64 {

	background-color: #f6573f;

}



.b-65 {

	background-color: #f34648;

}



.b-66 {

	background-color: #dc3738;

}



.b-67 {

	background-color: #c52829;

}



.b-68 {

	background-color: #af1819;

}



.b-69 {

	background-color: #980909;

}



.b-70 {

	background-color: #a31d34;

}



.b-71 {

	background-color: #ad315f;

}



.b-72 {

	background-color: #b7458a;

}



.b-73 {

	background-color: #c259b5;

}



.b-74 {

	background-color: #b556b6;

}



.b-75 {

	background-color: #a754b7;

}



.b-76 {

	background-color: #9951b7;

}



.b-77 {

	background-color: #8c4eb8;

}



.b-78 {

	background-color: #7758c0;

}



.b-79 {

	background-color: #6262c7;

}



.b-80 {

	background-color: #4d6bcf;

}



.b-81 {

	background-color: #3875d7;

}



.b-82 {

	background-color: #2a5fd4;

}



.b-83 {

	background-color: #1c48d1;

}



.b-84 {

	background-color: #0e31cf;

}



.b-85 {

	background-color: #001bcc;

}



.b-86 {

	background-color: #1442c4;

}



.b-87 {

	background-color: #afc8ef;

}



.b-88 {

	background-color: #88ace7;

}



.b-89 {

	background-color: #6091df;

}



.b-90 {

	background-color: #3875d7;

}



.b-91 {

	background-color: #2557d3;

}



.b-92 {

	background-color: #1339d0;

}



.b-93 {

	background-color: #001bcc;

}



.b-94 {

	background-color: #0322ac;

}



.b-95 {

	background-color: #05298b;

}



.b-96 {

	background-color: #08306b;

}



.b-97 {

	background-color: #749ee3;

}



.b-98 {

	background-color: #3875d7;

}



.b-99 {

	background-color: #1c48d1;

}



.b-100 {

	background-color: #001bcc;

}



.b-101 {

	background-color: #08306b;

}



.b-102 {

	background-color: #c2e8b5;

}



.b-103 {

	background-color: #a3dc91;

}



.b-104 {

	background-color: #85d16c;

}



.b-105 {

	background-color: #66c547;

}



.b-106 {

	background-color: #52ad43;

}



.b-107 {

	background-color: #3d9540;

}



.b-108 {

	background-color: #297d3c;

}



.b-109 {

	background-color: #146539;

}



.b-110 {

	background-color: #004d35;

}



.b-111 {

	background-color: #00441b;

}



.b-112 {

	background-color: #a3dc91;

}



.b-113 {

	background-color: #66c547;

}



.b-114 {

	background-color: #3d9540;

}



.b-115 {

	background-color: #146539;

}



.b-116 {

	background-color: #004d35;

}



.b-117 {

	background-color: #fddada;

}



.b-118 {

	background-color: #fab5b6;

}



.b-119 {

	background-color: #f89091;

}



.b-120 {

	background-color: #f56b6d;

}



.b-121 {

	background-color: #f34648;

}



.b-122 {

	background-color: #e13a3b;

}



.b-123 {

	background-color: #cf2e2f;

}



.b-124 {

	background-color: #aa1516;

}



.b-125 {

	background-color: #980909;

}



.b-126 {

	background-color: #67000d;

}



.b-127 {

	background-color: #f89091;

}



.b-128 {

	background-color: #f34648;

}



.b-129 {

	background-color: #cf2e2f;

}



.b-130 {

	background-color: #980909;

}



.b-131 {

	background-color: #67000d;

}



.b-132 {

	background-color: #ffda79;

}



.b-133 {

	background-color: #ffcd4c;

}



.b-134 {

	background-color: #ffc11f;

}



.b-135 {

	background-color: #ffb620;

}



.b-136 {

	background-color: #ffab20;

}



.b-137 {

	background-color: #ffa021;

}



.b-138 {

	background-color: #ff9521;

}



.b-139 {

	background-color: #ff8a22;

}



.b-140 {

	background-color: #f96835;

}



.b-141 {

	background-color: #d94801;

}



.b-142 {

	background-color: #ffd462;

}



.b-143 {

	background-color: #ffc11f;

}



.b-144 {

	background-color: #ff8a22;

}



.b-145 {

	background-color: #f96835;

}



.b-146 {

	background-color: #d94801;

}



.b-147 {

	background-color: #e7bde1;

}



.b-148 {

	background-color: #da9bd3;

}



.b-149 {

	background-color: #ce7ac4;

}



.b-150 {

	background-color: #c259b5;

}



.b-151 {

	background-color: #b055b6;

}



.b-152 {

	background-color: #9e52b7;

}



.b-153 {

	background-color: #8c4eb8;

}



.b-154 {

	background-color: #7234a4;

}



.b-155 {

	background-color: #591a91;

}



.b-156 {

	background-color: #3f007d;

}



.b-157 {

	background-color: #da9bd3;

}



.b-158 {

	background-color: #ce7ac4;

}



.b-159 {

	background-color: #b055b6;

}



.b-160 {

	background-color: #8c4eb8;

}



.b-161 {

	background-color: #591a91;

}



.b-162 {

	background-color: #c5c5c5;

}



.b-163 {

	background-color: #b5b5b5;

}



.b-164 {

	background-color: #a6a6a6;

}



.b-165 {

	background-color: #969696;

}



.b-166 {

	background-color: #98897f;

}



.b-167 {

	background-color: #9b7d67;

}



.b-168 {

	background-color: #9d7050;

}



.b-169 {

	background-color: #896247;

}



.b-170 {

	background-color: #74553e;

}



.b-171 {

	background-color: #604735;

}



.b-172 {

	background-color: #ffffff;

}



.b-173 {

	background-color: #fcfcfc;

}



.b-174 {

	background-color: #e2e2e2;

}



.b-175 {

	background-color: #c8c8c8;

}



.b-176 {

	background-color: #afafaf;

}



.b-177 {

	background-color: #959595;

}



.b-178 {

	background-color: #7b7b7b;

}



.b-179 {

	background-color: #616161;

}



.b-180 {

	background-color: #484848;

}



.b-181 {

	background-color: #2e2e2e;

}



.b-182 {

	background-color: #141414;

}



.b-183 {

	background-color: #000000;

}



.b-184 {

	background-color: #ffffff;

}



.b-185 {

	background-color: #eeeeee;

}



.b-186 {

	background-color: #aaaaaa;

}



.b-187 {

	background-color: #333333;

}



.b-188 {

	background-color: #000000;

}



.b-189 {

	background-color: #001bcc;

}



.b-190 {

	background-color: #fef1a9;

}



.b-191 {

	background-color: #ffde2e;

}



.b-192 {

	background-color: #da4b4b;

}



.b-193 {

	background-color: #9e0505;

}

.b-194 {

	background-color: #777777;

}

.b-195 {

	background-color: #e3e3e3;

}

.b-196 {
    	background-color: #81F79F;
}