/*
 * This file is part of the AusStage Mapping Service
 *
 * The AusStage Mapping Service is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The AusStage Mapping Service is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the AusStage Mapping Service.
 * If not, see <http://www.gnu.org/licenses/>.
*/


/*customise jquery ui slider elements */
/*navigation div*/
#navigation{
	position:absolute;
}


#navigation .ui-slider-vertical{
	margin:auto;
	margin-bottom:5px!important;
	border:1px solid #BBB!important;	
	background:#DDD!important;
}

#navigation .ui-slider, #navigation .ui-slider-handle{
	cursor:pointer;	
}

#navigation .ui-widget-header{
	background:#DDD!important
}

#navigation .ui-widget-content{
	background:none;	
}

#navigation .ui-slider-handle{
	height:10px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #777777!important;	
	background:#fff!important;
}

.nav_button{
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #777777!important;	
	background:#666666!important;	
}


