<?xml version="1.0" encoding="UTF-8"?>
<!--
 * This file is part of the Aus-e-Stage Beta Website
 *
 * The Aus-e-Stage Beta Website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License 
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The Aus-e-Stage Beta Website is distributed in the hope that it will 
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the AusStage Mapping Service.  
 * If not, see <http://www.gnu.org/licenses/>.
-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
    <display-name>Aus-e-Stage Beta Website</display-name>
    <description>
        The root web app for the Aus-e-Stage Beta Website
    </description>
     <!-- Servlets -->
    <servlet>
        <servlet-name>AnalyticsServlet</servlet-name>
        <servlet-class>au.edu.ausstage.beta.AnalyticsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransformServlet</servlet-name>
        <servlet-class>au.edu.ausstage.beta.TransformServlet</servlet-class>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>AnalyticsServlet</servlet-name>
        <url-pattern>/analytics/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransformServlet</servlet-name>
        <url-pattern>/transform/*</url-pattern>
    </servlet-mapping>
    <!-- Context Params to Share Common Information-->
    <context-param>
        <param-name>databaseConnectionString</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <param-name>systemName</param-name>
        <param-value>Aus-e-Stage System Development</param-value>
    </context-param>    
    <context-param>
       	<param-name>systemVersion</param-name>
       	<param-value>2.0</param-value>
    </context-param>
    <context-param>
        <param-name>buildVersion</param-name>
        <param-value>1</param-value>
    </context-param>
    <context-param>
        <param-name>moreInfo</param-name>
        <param-value>http://www.ausstage.edu.au</param-value>
    </context-param>
    <context-param>
        <param-name>systemUrl</param-name>
        <!-- Include trailing slash -->
        <param-value>http://beta.ausstage.edu.au/</param-value>
    </context-param>
   <!-- XML and XSLT paths -->
   <!-- IMPORTANT: specify a fully qualified path! -->
   <context-param>
		<param-name>reportDirectory</param-name>
		<param-value></param-value>
   </context-param>
</web-app>
