html, body{ 
	color:#FFF;
	background-color:#000;
	font-family:Arial, Helvetica, sans-serif;
	height: 100%;
}

a {
 color:white;
 text-decoration: none;

}


#main {
	overflow:visible;
	height:400px;
	padding-top:5%;


}

        
#container {
	min-height: 100%;
}


#intro {
    font-size: 1.2em;
    display: none;
}

.info  {
	padding-top:3px;
	font-size:1em;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
        width:25%;
        float:left;
        font-weight:lighter;

}

.info .event {
		font-size:1.2em;
                font-weight:lighter;

}

 .info .organisation {
		 font-weight:lighter;
	 }

.info .venue  {
	 font-weight:lighter;
	}

.info .date  {
		 font-weight:lighter;
	}

.info h4.question {
	font-size:1.1em;
        font-weight:lighter;

}



/*** Custom Aus-Stage sent up ***/

#feedback {
     margin-left:30%;
     width: 600px;
}

.feedback {

	font-size:1.6em;
	font-weight:bold;
	/*min-height:300px;*/
        text-align: center;
      
}



.feedback .content {
     width:500px;

}

.word {

        position:absolute;
        text-align: left;
        font-size:1.2em;
	font-weight:bold;
	color:#999;

	top:5px; /* in conjunction with left property, decides the text position */
	left:5px;

        padding:5px;

        /*width:100%;*/

        background-color:black;
        opacity:0.8;

}

.feedback .content img {

    max-width: 500px;
   
}

.Attributions  {

        position:absolute;

	font-size:.5em;
	font-weight:lighter;
	color:#999;



	/* top:80%;  in conjunction with left property, decides the text position */
	left:5px;
        bottom:5%;

        padding:5px;

        width:200px;

        background-color:black;
        opacity:0.7;

}





.FeedbackList li {
            list-style: none;
            padding:5px;
            margin-left: -35px;
            margin-top: 5px;
            font-size: .9em;

}

.FeedbackList li .feedbackInfo {
    font-size: .9em;
    color:lightslategray;
}

.highlight { 
    background-color:#F9E98E;
}


/*ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix*/

.ui-dialog .ui-widget-header {
    
    background:none;
    color: #222222;
    font-weight: bold;
    border: none
}

.ui-dialog .ui-widget-header {

    background:none;
    color: #222222;
    font-weight: bold;
    font-size: 2em;
    border: none
}











	
