/*
 * This file is part of the Aus-e-Stage Beta Root Website
 *
 * The Aus-e-Stage Beta Root Website is free software: you can redistribute
 * it and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * The Aus-e-Stage Beta Root Website is distributed in the hope that it will
 * be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with the Aus-e-Stage Beta Root Website.
 * If not, see <http://www.gnu.org/licenses/>.
*/

/* root element for accordion. */
.accordion {
        font-weight:normal;
        margin:0 0 -5px 0;
        font-size:14px;
        color:#fff;
}

.accordion p{
        font-weight:normal;
        margin:0 0 -5px 0;
        font-size:10px;
        color:#fff;
}

/* accordion header */
.accordion h2 {
        background:#000 ;
        margin:0;
        padding:5px 0px;
        font-size:14px;
        font-weight:normal;
        //border:1px solid #fff;
        border-bottom:1px solid #ccc;
        cursor:pointer;
}

/* currently active header */
.accordion h2.current {
        cursor:default;
        background-color:#fff;
}

/* accordion pane */
.accordion .pane {
        border:1px solid #fff;
        border-width:0 2px;
        display:none;
        padding:0px;
        color:#000;
        font-size:12px;
}

.accordion .pane a {
        font-weight:normal;
        margin:0 0 -5px 0;
        font-size:14px;
        color:#3300ff;
}

.accordion .pane p {
        font-weight:normal;
        margin:0 0 -5px 0;
        font-size:10px;
        color:#000;
}

.accordion tr.d1 td {
	background-color:#CCC; 	
	padding-bottom:10px;
}

.accordion tr.d0 td {
	background-color:#fff; 
	padding-bottom:10px;
}




/* a title inside pane */
#accordion .pane h3 {
        font-weight:normal;
        margin:0 0 -5px 0;
        font-size:16px;
        color:#999;
}

/* root element for tabs  */
ul.css-tabs {
        margin:0 !important;
        padding:0;
        height:30px;
        border-bottom:1px solid #666;
}

/* single tab */
ul.css-tabs li {
        float:left;
        padding:0;
        margin:0;
        list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a {
        float:left;
        font-size:13px;
        display:block;
        padding:5px;
        text-decoration:none;
        border:1px solid #666;
        border-bottom:0px;
        min-width:30px;
        height:18px;
        background-color:#efefef;
        color:#777;
        margin-right:2px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright:4px;
        position:relative;
        top:1px;
        text-align: center;
}

ul.css-tabs a:hover {
        background-color:#F7F7F7;
        color:#333;
}

/* selected tab */
ul.css-tabs a.current {
        background-color:#ddd;
        border-bottom:2px solid #ddd;
        color:#000;
        cursor:default;
}


/* tab pane */
div.css-panes div {
        display:none;
/*      border:1px solid #666;
        border-width:0 1px 1px 1px;*/
        min-height:450px;
        padding:15px 10px;
        background-color:#ddd;
    color:#000;
    height:100%;
}

