<HTML>
<HEAD>
<centric_control type="head">
</HEAD>

<BODY LEFTMARGIN="0" TOPMARGIN="0" MARGINWIDTH="0" MARGINHEIGHT="0">
<table cellpadding=0 cellspacing=0 border=0 width=100%>
<tr>
    <td BGCOLOR="#B1BB65"><centric_control type="repos_image" key="ausstage logo"></td>
    <td BGCOLOR="#B1BB65" width=100%><centric_control type="repos_image" key="ausstage top banner"></td>
</tr>
<tr>
    <td valign="top">
        <table cellpadding=0 cellspacing=0 border=0 width=157 BGCOLOR="#B1BB65">
        <tr>
            <td width=157 valign="top"><centric_control type="repos_image" key="ausstage left menu image"></td>
        </tr>
        <tr>
            <td valign=top>
                <centric_control type="family_links" valign="middle" width="144" padding="1" dividercolour="#B1BB65" 
	            indents="0,0,10,20,30,40,50,60"
	            bgcolours="#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65" 
	            rolloverbgcolours="#657019,#657019,#657019,#657019,#657019,#657019,#657019,#657019" 
	            currentbgcolours="#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65,#B1BB65" 
	            currentrolloverbgcolours="#657019,#657019,#657019,#657019,#657019,#657019,#657019,#657019" 
	            leftimagekey=",,,,,,,"
	            rightimagekey=",,,,,,"
	            selectedimagekey=""
	            dividerheight="0" lineheight="1" ><br><br>
            </td>
        </tr>
        </table>
    </td>
    <td valign=top>
        <table cellpadding=0 cellspacing=0 border=0 width=700>
        <tr>
            <td width=15><centric_control type="repos_image" key="spacer" height="20" width="15"></td>
            <td width=685></td>
        </tr>
        <tr>
            <td></td>
            <td valign=top>
                <centric_control type="title"><br>
                <centric_control type="includepage" path="/custom/ausstage/search.jsp"><br>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</BODY>
</HTML>