<centric_control type="head">
<body topmargin="0" leftmargin="0" bgproperties="fixed" background="/custom/ausstage/images/ausstage_home_backfill.gif">

<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber1">
  <tr>
    <td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber14">
  <tr>
    <td align="left" valign="top">
    <centric_control type="repos_image" border="0" key="ausstage_home_brand"></td>
    <td align="left" valign="top">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber25">
      <tr>
        <td width="100%">
        <centric_control type="repos_image" border="0" key="ausstage_contentpage_top1"></td>
      </tr>
      <tr>
        <td width="100%">
        <centric_control type="repos_image" border="0" key="ausstage_contentpage_top2"><a href="/admin" target="_blank"><centric_control type="repos_image" border="0" key="ausstage_contentpage_login"></a><centric_control type="repos_image" border="0" key="ausstage_home_top3"></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber26">
  <tr>
    <td width="174" bgcolor="#A0CA76">
    <centric_control type="repos_image" border="0" key="spacer" width="25" height="25"></td>
    <td bgcolor="#FFFFFF" rowspan="2" align="left" valign="top" width="25">
    <centric_control type="repos_image" border="0" key="spacer" width="21" height="21"></td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="554">&nbsp;</td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="21" rowspan="2">
    <centric_control type="repos_image" border="0" key="spacer" width="21" height="21"></td>
  </tr>
  <tr>
    <td width="174" align="left" valign="top" bgcolor="#A0CA76">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="174" id="AutoNumber28">
      <tr>
        <td align="left" valign="top" bgcolor="#A0CA76">
        <centric_control type="repos_image" border="0" key="spacer" width="21" height="21"></td>
        <td align="left" valign="top" width="128" bgcolor="#A0CA76">
        <centric_control type="family_links" valign="left" width="143" padding="1" dividercolour="#A0CA76" 
	    indents="0,5,10,15,20,20,20,20"
	    bgcolours="#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76" 
	    rolloverbgcolours="#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76" 
	    currentbgcolours="#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76" 
	    currentrolloverbgcolours="#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76,#A0CA76" 
	    leftimagekey=",,,,,,,"
	    rightimagekey=",,,,,,,"
	    selectedimagekey=""
	    dividerheight="0" lineheight="1" >
        </td>
        <td align="left" valign="top" bgcolor="#A0CA76">
        <centric_control type="repos_image" border="0" skey="spacer" width="21" height="21"></td>
      </tr>
    </table>
    </td>
    <td bgcolor="#FFFFFF" align="left" valign="top" width="554">
    <centric_control type="body" name="Main Text"><br><br>
    <embed src="/custom/files/kemp28kb.mov" height="200" width="200" autoplay="true" controller="true" loop="false" pluginspage="http://www.apple.com/quicktime/"><br><br>
    <centric_control type="file_links"><br>
    </td>
  </tr>
</table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="770" id="AutoNumber24" height="25">
  <tr>
    <td colspan="7" bgcolor="#cccccc">
    <font face="Verdana" style="font-size: 9pt">
    <centric_control type="repos_image" border="0" key="spacer" width="1" height="1"></font></td>
  </tr>
  <tr>
    <td width="175" bgcolor="#999999" height="24">&nbsp;</td>
    <td bgcolor="#999999" height="24">
    <font face="Verdana" size="1">Copyright &copy; 2003 AusStage.</font></td>
    <td bgcolor="#999999" height="24">&nbsp;</td>
    <td bgcolor="#999999" height="24" colspan="3"><centric_control type="footer_links" orientation="horizontal"></td>
    <td bgcolor="#999999" height="24">&nbsp;</td>
  </tr>
  <tr>
    <td width="175" bgcolor="#333333" colspan="7">
    <centric_control type="repos_image" border="0" key="spacer" width="1" height="1"></td>
  </tr>
</table>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
