<style>
.boxbkgd {	background-color: #FFF;}
.sideboxes {/* lines top sides and bottom */	border-left: 1px solid #DDE0AF;	border-right: 1px solid #DDE0AF;	border-bottom: 1px solid #DDE0AF;	font-size: 10px;	line-height: 13px;	padding-bottom: 0px;	margin:0px;}
.boxticker {/* lines top sides and bottom, plus bckgrnd */	border-top: 1px solid #DDE0AF;	background-color: #ECEDD5;			}

.fsearch {	padding:3px;	padding-left:8px;	width: 120px;	font-size: 10px;	color: #000;	border-left: 1px solid #AAAD82;	border-right: 1px solid #DDE0AF;	border-bottom: 1px solid #DDE0AF;	border-top: 1px solid #AAAD82;}
</style>
<html>
<head>
<centric_control type="head">
<style type="text/css" media="screen">
</style>
</head>
<body style="background-color: #EBEDD5;background-position: 0px 0px;margin: 0px;padding: 0px;">
<table width="740" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
				<td width="10"><centric_control type="repos_image" key="spacer" border="0" width="10" height="23"></td>
				<td width="182"><centric_control type="repos_image" key="spacer" border="0" width="82" height="23"></td>
				<td width="548" valign="middle">
						<table width="548" border="0" cellspacing="0" cellpadding="0">
								<tr>
										<td width="548" align="left" valign="middle">
											<centric_control type="bread_crumbs">
										</td>
								</tr>
						</table>
				</td>
		</tr>
		<tr>
				<td width="10" class="boxbkgd">&nbsp;</td>
				<td width="182" class="boxbkgd"><centric_control type="repos_image" key="default logo" border="0" WIDTH="182" HEIGHT="101"></td>
				<td width="548" class="boxbkgd"><centric_control type="repos_image" key="default top banner" border="0" WIDTH="548" HEIGHT="101"></td>
		</tr>
		<tr>
				<td width="10"><centric_control type="repos_image" key="spacer" border="0" width="1" height="3"></td>
				<td width="182"><centric_control type="repos_image" key="spacer" border="0" idth="1" height="3"></td>
				<td width="548"><centric_control type="repos_image" key="spacer" border="0" width="1" height="3"></td>
		</tr>
		<tr>
				<td width="10" align="left" valign="top" class="boxbkgd"><centric_control type="repos_image" key="spacer" border="0" width="1" height="21"></td>
				<td width="182" align="left" valign="top" class="boxbkgd">&nbsp;</td>
				<td width="548" align="left" valign="top" class="boxbkgd">&nbsp;</td>
		</tr>
		<tr>
				<td width="10" align="left" valign="top" class="boxbkgd">&nbsp;</td>
				<td width="182" align="left" valign="top" class="boxbkgd">
	<centric_control type="family_links" valign="middle" width="144" padding="1" dividercolour="#FFFFFF" 
	    indents="0,0,10,20,30,40,50,60"
	    bgcolours="#F7F7E5,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF" 
	    rolloverbgcolours="#F0F0CC,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF" 
	    currentbgcolours="#F0F0CC,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF" 
	    currentrolloverbgcolours="#F0F0CC,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF" 
	    leftimagekey=",,,,,,,"
	    rightimagekey="arrow black right,arrow black right,,,,,,"
	    selectedimagekey=""
	    dividerheight="0" lineheight="1" >


<table border="0" cellpadding="0" cellspacing="0" width="144">
           			<tr>
           				<td width="144"><p>&nbsp;</p></td>
        			</tr>
           			<tr>
           				<td align="right"><!--<cNOTentric_control type="display_print" helpertext="" width="75">--></td>
        			</tr>
					</table>
									
				  </td>
				<td width="548" align="left" valign="top" class="boxbkgd"><table width="548" border="0" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF;">
                		<tr align="left" valign="top">
                				<td width="328">
                				<centric_control type="search" tablewidth="350" titletext="Search" helpertext="Press the search button to search" bgcolor="#FFFFFF" showsearchtypes="rich_query" showresultsperpage="true" showorderby="true" pageid="42" showscope="true" showmetadata="true" showextsearchcheckbox="true" extsearchcheckboxdefault="false" shownaturallangbutton="true">
			                    <centric_control type="searchresults" altcolor="#EBEDD5">
           						</td>
                				<td width="27">&nbsp;</td>
                				<td width="183">
                				<table width="181" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                        <td>
                				<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                        <td class="sideboxes boxticker" width="100%">
											                  <centric_control type="repos_image" key="share price" border="0"><BR><BR>
                           				</td>
                           		</tr>
								        </table>
								        </td>
                        </tr>
                        <tr>
                        <td>
								<table width="181" border="0" cellspacing="0" cellpadding="10">
                          <tr>
                                  <td class="sideboxes" width="181">
											            <centric_control type="body" name="Shared News"><br><centric_control type="repos_image" key="spacer" border="0" width="1" height="1">
										              </td>
                     			</tr>
                          <tr>
                                  <td class="sideboxes" width="181">
											              <centric_control type="file_links" hpadding="0" width="155" dividerheight="5">
                           		</td>
                          </tr>
								          </table>
								</td>
                </tr>
                </table>
								<p>&nbsp;</p></td>
   				              <td width="10">&nbsp;</td>
           		  </tr>
                		</table></td>
		</tr>
		<tr>
				<td align="left" valign="top" class="boxbkgd">&nbsp;</td>
				<td align="left" valign="top" class="boxbkgd footer"><centric_control type="footer_links" orientation="vertical" case=""><br></td>
				<td align="left" valign="top" class="boxbkgd">&nbsp;</td>
		</tr>
		<tr>
				<td align="left" valign="top" class="boxbkgd"><centric_control type="repos_image" key="spacer" border="0" width="1" height="9"></td>
				<td align="left" valign="top" class="boxbkgd footer"></td>
				<td align="left" valign="top" class="boxbkgd"></td>
		</tr>
		<tr>
				<td align="left" valign="top">&nbsp;</td>
				<td align="left" valign="top" colspan="2" class="smallfooter">&copy; James Hardie Industries NV 
      (ARBN 097 829 895), incorporated in The Netherlands. The liability of its members is limited. &trade; and &reg; denote a trademark 
      owned by James Hardie Research Pty Ltd (ACN&nbsp;066 114 092), incorporated 
      in Australia, or a trademark owned by, or licensed to, a James Hardie group 
      company. Share prices by <a href="http://www.weblink.com.au">Weblink</a> 
      | <a href="http://clients.weblink.com.au/html/terms.asp">Terms of use</a></td>
		</tr>
		<tr>
				<td align="left" valign="top">&nbsp;</td>
				<td align="left" valign="top" colspan="2" class="smallfooter"></td>
		</tr>
</table>
</body>
</html>
